.response__element{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-right: 70px;
    border-bottom: 1px solid #aaa;
}

.element__header{
    font-size: 25px;
}

.form__button-set{
    text-align: center;
    color: #fff;
}

.form-textarea{
    height: 400px !important;
}

.spinner{
    width: 20%;
    margin: 30px auto;
    object-fit: cover;
}

.edit-btn{
    position: absolute;
    right: 10px;
    top: 10px;
}

.btn{
    transition: 0.3s;
}
.btn:hover{
    transform: scale( 1.1 );
    cursor: pointer;
}